@charset "utf-8";
/* CSS Document */

::selection{background-color:#F9346E}
/*body{overflow:hidden}*/

.bgbox{
  width:100%;
  position:fixed;
  height: 100%;
  z-index: 1;
  background-image:url(../images/bgg.jpg);
  background-size: cover;
 animation:BBG 300s linear infinite alternate;
  -webkit-animation:BBG 300s linear infinite alternate;
  /*background-attachment: fixed;*/

 
   }

.iifor a{ color:#E9F98C}


h1{ background: rgba(34, 127, 208, 0.9) no-repeat url(../images/logo_.png) center;
    background-size: 90%;
    width: 250px;
    height: 250px;
    display:block;
    position: absolute;
    left: 50%;top: 50%;
    margin: -125px 0 0 -125px;
    border-radius: 200px;
     transition: all 1s ease-out 0s;

    }

.lh1{left: 25%}

h1 span{display: none}

main{color:#fff;}

.contedbox{overflow: hidden;    position: relative;}
.conted{  width: 50%;

      position: relative;
  height: 100%;

  /*right: 0px;*/
  left: 100%;
z-index: 2;
    background: rgba(4, 28, 49, 0.9);
    padding: 10px;
        box-sizing: border-box;
            transition: all 1s ease-out 0s;


}

.conted_{

  /*right: 0px;*/
  left: 50%;


}

.rrad {
    color: #C30;
}

.open{ position: fixed;
    
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 80px 80px 80px 0;
    border-color: transparent rgba(4, 28, 49, 0.9) transparent transparent;
    z-index: 3;
    margin-top: -80px;
     transition: all 1s ease-out 0s;
     color: #fff;
     animation:opp 0.5s ease-out infinite alternate;
  -webkit-animation:opp 0.5s ease-out infinite alternate;
    
}

.open span{    position: absolute;
    width: 50px;
    margin-top: -16px;
    margin-left: 30px;
    line-height: 18px;}

.open_{right: 50%;animation:none;
  -webkit-animation:none;}

footer{color: #fff; margin-top: 10px; font-size: 12px;}


hr{ height: 0px;    border-bottom: 1px }

.imagesbox{display:flex;margin:5px 0 20px 0px; }
.imagesbox a{overflow: hidden; width: 150px; height: 150px;border-radius:10px; display: inline-block;flex: 1;margin:0 10px 0 0px  }

.lui{display: block;margin:20px 0; background-color: rgb(41, 157, 217); color: #fff;padding: 10px;width: 150px;text-align: center; border-radius:15px;transition: all 0.3s ease-out 0s;}

.lui:hover{background-color: rgb(46, 167, 11)}

   @-webkit-keyframes BBG {
 0% {background-color: rgb(41, 157, 217);
background-position:0 center;
}
 100% {
background-position: 10000px center;
}
}

 @keyframes BBG {
 0% {
background-position:0 center;
}
 100% {
background-position: 10000px center;
}
}






 @-webkit-keyframes opp {
 0% {

}

 100% {
    border-color: transparent rgba(8, 96, 173, 0.9) transparent transparent
}
}}



 @keyframes opp {
 0% {

}
 100% {
    border-color: transparent rgba(8, 96, 173, 0.9) transparent transparent
}
}

@media only screen and (max-width:600px){

.bgbox{    position: relative;
    height: 400px;}



.conted{width: 100%; left: 0;}

.open{display: none;}

#IFM{width: 95% !important;  }





}