@charset "utf-8";
/* CSS Document */
body{ }
body, html, form, #Outbox, #Center {}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
	font-family:"Microsoft JhengHei";
	line-height: 1.6em;
	
	
}
a{ text-decoration:none;}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset, img {
	border:0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style:normal;
	font-weight:normal;
}
ol, ul {
	list-style:none;
}
caption, th {
	text-align:left;
}

q:before, q:after {
	content:'';
}
abbr, acronym {
	border:0;
}


svg:not(:root) { overflow: hidden; }


label { cursor: pointer; }


legend { border: 0; *margin-left: -7px; padding: 0; }


button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }


button, input { line-height: normal; *overflow: visible; }

table button, table input { *overflow: auto; }


button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }


input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }


button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }


html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}



#SPAN_Lang{ display:none}
